# Byebug
.byebug_history

# Temp files
*.swp

# Test file
/*.csv

# RSpec config 
.rspec

# Secrets
.env

# rbenv and bundler related stuff
/vendor
.bundle/
.ruby-version

# Rubymine
.idea/

# exe/payday_test
exe/payday_test.rb
